/.idea/
/test/.idea/
/test_axios/.idea/
/test_axios/backend/public/
/test_axios/backend/node_modules/
/test_axios/frontend/node_modules/
/test_axios/node_modules/
/test_MySQL/.idea/
/test/node_modules/
/test/dist/
