/.idea/
/.metadata/
/test/.idea/
/test/dist/
/test/node_modules/
/test_axios/.idea/
/test_axios/node_modules/
/test_axios/backend/node_modules/
/test_axios/frontend/node_modules/
/test_mysql/.idea/
/test_mysql/node_modules/
/test_mysql/backend/node_modules/
/test_mysql/frontend/node_modules/
/test_mysql/frontend/dist/
/cdn-vue/node_modules/
/cdn-vue/.vscode/
/cdn-vue/.idea/
/npm-vue/.vscode/
/npm-vue/node_modules/
/basic-vue/ch03/node_modules/
/basic-vue/ch03/.vscode/
/basic-vue/calculator/.vscode/
/basic-vue/calculator/node_modules/
/basic-vue/ch05/node_modules/
/basic-vue/ch05/.vscode/
/basic-vue/todo/.vscode/
/basic-vue/todo/node_modules/
/basic-vue/ch07/.vscode/
/basic-vue/ch07/node_modules/
/basic-vue/ch08/.vscode/
/basic-vue/ch08/node_modules/
/basic-vue/pinia/.vscode/
/basic-vue/pinia/node_modules/
/basic-vue/cart/.vscode/
/basic-vue/cart/node_modules/
/basic-vue/ch10/node_modules/
/basic-vue/ch10/.vscode/
/basic-vue/ch10/server/node_modules/
/basic-vue/ch11/.vscode/
/basic-vue/ch11/node_modules/
/basic-vue/ch11/dist/
/basic-vue/ch12/.vscode/
/basic-vue/ch12/node_modules/
/vue3-fullstack/.idea/
/vue3-fullstack/ch05/ch05_myapp1/node_modules/
/vue3-fullstack/ch05/ch05_myapp1/dist/
/vue3-fullstack/ch05/ch05_myapp2/node_modules/
/vue3-fullstack/ch05/ch05_myapp2/dist/
/vue3-fullstack/ch09/ch09_myapp/node_modules/
/vue3-fullstack/ch09/ch09_myapp/dist/
/vue3-fullstack/ch09/backend/
/vue3-fullstack/ch10/ch10_myapp1/node_modules/
/vue3-fullstack/ch10/ch10_myapp1/dist/
/vue3-fullstack/ch10/ch10_myapp1/.idea/
/vue3-fullstack/ch10/backend1/
/vue3-fullstack/ch10/ch10_myapp2/node_modules/
/vue3-fullstack/ch10/ch10_myapp2/dist/
/vue3-fullstack/ch10/ch10_myapp2/.idea/
/vue3-fullstack/ch10/backend2/
/vue3-fullstack/ch11/ch11_myapp1/node_modules/
/vue3-fullstack/ch11/ch11_myapp1/dist/
/vue3-fullstack/ch11/ch11_myapp1/.idea/
/vue3-fullstack/ch11/ch11_myapp2/node_modules/
/vue3-fullstack/ch11/ch11_myapp2/.vscode/
/vue3-fullstack/ch11/ch11_myapp3/.vscode/
/vue3-fullstack/ch11/ch11_myapp3/node_modules/
/vue3-fullstack/ch12/ch12_myapp1/.vscode/
/vue3-fullstack/ch12/ch12_myapp1/node_modules/
